<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>jython-servlet</display-name>

    <servlet>
        <servlet-name>PyServlet</servlet-name>
        <servlet-class>org.python.util.PyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
       <!-- <init-param>
            <param-name>python.home</param-name>
            <param-value>c:\jython-2.1</param-value>
        </init-param>
        <init-param>
            <param-name>python.path</param-name>
            <param-value>
                c:\jython-2.1\lib\site-packages
            </param-value>
        </init-param>-->
    </servlet>

    <servlet-mapping>
        <servlet-name>PyServlet</servlet-name>
        <url-pattern>*.py</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>myGenericServlet</servlet-name>
        <servlet-class>com.adarsh.servlet.http.MyHttpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myGenericServlet</servlet-name>
        <url-pattern>/myGenericServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>myjsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/MyJsp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>myjsp</servlet-name>
        <url-pattern>/myJsp</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
